<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modification recette</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a th:href="@{/home}">Accueil</a>
            </li>
            <li>
                <a th:href="@{/recipes/add}">Nouvelle recette</a>
            </li>
            <li>
                <a th:href="@{/categories/board}"> Gestion Catégories</a>
            </li>
        </ul>
    </nav>
    <h1>Modifier une recette</h1>
    <form th:action="@{/recipes/update}" method="post" th:object="${recipe}">
        <fieldset>
            <label for="name">Nom de la recette :</label>

            <input type="text" id="name" th:field="*{name}" placeholder="Nom de la recette" />
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </fieldset>
        <fieldset>
            <label for="categoryId">Catégorie :</label>
            <select id="categoryId" th:field="*{categoryId}">
                <option value="" disabled selected>-- Choisir une catégorie --</option>
                <option th:each="cat : ${categories}"
                        th:value="${cat.id}"
                        th:text="${cat.name}">
                </option>
            </select>
            <p th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></p>
        </fieldset>
        <fieldset>
            <label for="ingredients">Ingrédients :</label>
            <textarea id="ingredients" th:field="*{ingredients}" placeholder="Liste des ingrédients"></textarea>
            <p th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}"></p>
        </fieldset>
        <fieldset>
            <label for="instructions">Instructions :</label>
            <textarea id="instructions" th:field="*{instructions}" placeholder="Instructions de préparation"></textarea>
            <p th:if="${#fields.hasErrors('instructions')}" th:errors="*{instructions}"></p>
        </fieldset>
        <button>Modifier</button>
    </form>
</header>
<main>

</main>
</body>
</html>