<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a>Accueil</a>
            </li>
            <li>
                <a>Nouvelle recette</a>
            </li>
            <li>
                <a> Gestion Catégories</a>
            </li>
        </ul>
    </nav>
    <h1> Accueil Recettes </h1>
</header>
<main>
    <section>
        <th:block th:fragment="displayRecipeResult">
            <p th:if="${recipes.isEmpty()}">Aucune recette !!!</p>

            <table th:unless="${recipes.isEmpty()}">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Ingrédients</th>
                    <th>Instructions</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody th:each="r : ${recipes}">
                <tr>
                    <td th:text="${r.id}"></td>
                    <td th:text="${r.name}"></td>
                    <td th:text="${r.categoryId}"></td>
                    <td th:text="${r.ingredients}"></td>
                    <td th:text="${r.instructions}"></td>
                    <td>
                        <a th:href="@{/recipes/detail/{id}(id=${r.id})}">Détail</a>
                        <a th:href="@{/recipes/update/{id}(id=${r.id})}">Modifier</a>
                        <a th:href="@{/recipes/delete/{id}(id=${r.id})}">Supprimer</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </th:block>
    </section>

</main>
<footer>

</footer>
</body>
</html>